[Unit]
Description=Garage Door Opener

[Service]
User=tim
Environment="TRV_RESOURCES=@,/home/tim/server-resources"
ExecStart=/home/tim/server/garage-door-server.sh
WorkingDirectory=/home/tim/server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=garage-door

[Install]
WantedBy=multi-user.target