[Unit]
Description=Garage Door Opener

[Service]
User=tim
ExecStart=./garagedoor.sh
WorkingDirectory=/home/tim/server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=garage-door-opener

[Install]
WantedBy=multi-user.target